.social-fix {
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
	z-index: 120;
}
.social-fix a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width:50px;
	list-style: none;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}

.off-visibility {
	display: none;
}
.social-fix a:hover{
	background-color: #666d41;
	transition:all ease 0.5s;
}

.social-fix i{
	font-size:20px;
}
